package log.log_miguel.Chat;
 
import org.bukkit.Bukkit;
import org.bukkit.ChatColor;
import org.bukkit.entity.Player;
import org.bukkit.event.EventHandler;
import org.bukkit.event.Listener;
import org.bukkit.event.player.AsyncPlayerChatEvent;
import org.bukkit.plugin.java.JavaPlugin;
 
public class Main extends JavaPlugin implements Listener {
       
        public void onEnable() {
                Bukkit.getServer().getPluginManager().registerEvents(this, this);
        }
       
        @EventHandler
        public void FormatChat(AsyncPlayerChatEvent e) {
                Player p = (Player) e.getPlayer();
                e.setCancelled(true);
                String msg = e.getMessage();
                msg = msg.replace("www", "");
                msg = msg.replace("com", "");
                msg = msg.replace(".", "");
                Bukkit.broadcastMessage(p.getName() + ChatColor.GOLD + ChatColor.BOLD + " > " + ChatColor.RESET + msg);
        }
       
}
